$btn-default-color:     #fafafa;
$btn-primary-color:     $btn-default-color;
$btn-success-color:     #212121;
$btn-info-color:        $btn-default-color;
$btn-warning-color:     $btn-default-color;
$btn-danger-color:      $btn-default-color;
$btn-default-bg:        #607d8b;
$brand-primary:         #2979ff;
$brand-success:         #1de9b6;
$brand-info:            #536dfe;
$brand-warning:         #ff9800;
$brand-danger:          #ef5350;
@import "froala_editor.min.css";
@import "froala_style.min.css";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "bootstrap-sprockets";

@import "bootstrap";
@import "daterangepicker";

@import "themes/dark";
@import "plugins/colors";
@import "plugins/table";
@import "plugins/code_view";

@import "main";
