<div class="form-inputs">
  <div class="remove-action">
    <%= f.input_field :_destroy, as: :hidden %>
    <%= link_to "Delete", '#', :class => 'remove_field' %>
  </div>
  <%= f.input :name %>
</div>
